<%
   form    ||= nil
   preview ||= nil
   back    ||= nil
%>

<ul class="footer_navi_wrp">
  <% if form.present? %>
  <li><%= form.submit({class: "btn"})%></li>
  <% end %>
  <% if preview.present? %>
  <li><%= link_to(t("footer.preview"), preview, class: "btn") %></li>
  <% end %>
  <% if back.present? %>
  <li><%= link_to(t("footer.back"), back, class: "btn") %></li>
  <% end %>
</ul>
